<div id="<%= dom_id itinerary_day %>">
  <p>
    <strong>Trip:</strong>
    <%= itinerary_day.trip_id %>
  </p>

  <p>
    <strong>Days:</strong>
    <%= itinerary_day.days %>
  </p>

  <p>
    <strong>Header:</strong>
    <%= itinerary_day.header %>
  </p>

  <p>
    <strong>Day text:</strong>
    <%= itinerary_day.day_text %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= itinerary_day.position %>
  </p>

</div>
