<div id="<%= dom_id statement %>">
  <p>
    <strong>Trip:</strong>
    <%= statement.trip_id %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= statement.weight %>
  </p>

  <p>
    <strong>Header:</strong>
    <%= statement.header %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= statement.content %>
  </p>

</div>
