<div id="<%= dom_id departure %>">
  <p>
    <strong>Trip:</strong>
    <%= departure.trip_id %>
  </p>

  <p>
    <strong>Departure date:</strong>
    <%= departure.departure_date %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= departure.return_date %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= departure.price %>
  </p>

  <p>
    <strong>Difficulty level:</strong>
    <%= departure.difficulty_level %>
  </p>

</div>
