<div id="<%= dom_id contact_us_request %>">
  <p>
    <strong>Name:</strong>
    <%= contact_us_request.name %>
  </p>

  <p>
    <strong>Regarding:</strong>
    <%= contact_us_request.regarding %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= contact_us_request.phone_number %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= contact_us_request.email_address %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= contact_us_request.message %>
  </p>

</div>
