<div id="<%= dom_id lodging %>">
  <p>
    <strong>Trip:</strong>
    <%= lodging.trip_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= lodging.position %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= lodging.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= lodging.location %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= lodging.level %>
  </p>

  <p>
    <strong>Number of nights:</strong>
    <%= lodging.number_of_nights %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lodging.description %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= lodging.photo %>
  </p>

  <p>
    <strong>Photo alt:</strong>
    <%= lodging.photo_alt %>
  </p>

</div>
