<p style="color: green"><%= notice %></p>

<%= render @lodging %>

<div>
  <%= link_to "Edit this lodging", edit_lodging_path(@lodging) %> |
  <%= link_to "Back to lodgings", lodgings_path %>

  <%= button_to "Destroy this lodging", @lodging, method: :delete %>
</div>
