<!DOCTYPE html>
<html>
  <head>
    <title>Acme Adventure Travel <%= yield :title %></title>
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="<%# yield :keywords %>"
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= yield :page_style_sheet %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="page_<%= yield :body_class %>">
  <header>
    <div class="branding">
      <%= link_to root_path do %>
        <%= image_tag "https://s3.us-west-1.amazonaws.com/professor.raupach/acme_travel/images/logo-horizontal.png", alt: "Acme Adventure Logo" %>
      <% end %>

    </div>
    <nav class="site-nav grid">
      <button class="button"
              onclick="window.location.href = '/index.html';">
        Home Page
      </button>
      <button class="button"
              onclick="window.location.href = '/why-travel-with-us.html';">
        Why Travel With Us
      </button>
      <button class="button"
              onclick="window.location.href = '/trips.html';">
        Our Trips
      </button>
      <button class="button"
              onclick="window.location.href = '/catalog-request.html';">
        Catalog Requests
      </button>
    </nav>
  </header>

  <main class="content">
    <%= yield %>
  </main>

  <footer>
    <hr>
    <div id="copyright">
      <p>Copyright © 2021 Acme Adventure Travel, Inc.</p>
    </div>
    <div id="footer-links">
      <button class="button"
              onclick="window.location.href = '/privacy-policy.html';">
        Privacy Policy
      </button>
      <button class="button"
              onclick="window.location.href = '/contact-us.html;';">
        Contact Us
      </button>
    </div>
  </footer>
  </body>
</html>