<!DOCTYPE html>
<html>
  <head>
    <title>Acme Adventure Travel <%= yield :title %></title>
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="<%# yield :keywords %>"
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= yield :page_style_sheet %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="page_<%= yield :body_class %>">
  <header>
    <div class="branding">
      <%= link_to root_path do %>
        <%= image_tag "https://s3.us-west-1.amazonaws.com/professor.raupach/acme_travel/images/logo-horizontal.png", alt: "Acme Adventure Logo" %>
      <% end %>
      <h1>Acme Adventure Travel</h1>

    </div>
    <nav>
      <ul>

        <li><%= link_to "Home",  root_path %></li>
        <li><%= link_to "Why Travel With Us", why_path %></li>
        <li><%= link_to "Our Trips", trips_path %></li>
        <li><a href="/catalog-request.html">Catalog Requests</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <hr>
    <div id="copyright">Copyright ©<%= Date.today.year %> Acme Adventure Travel, Inc.</div>
    <ul id="footer-links">
      <li><%= link_to "Privacy Policy", privacy_path  %> </li>
      <li><%= link_to "Contact Us", new_contact_us_request_path %> </li>
    </ul>
  </footer>
  </body>
</html>
